body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 15.4px;
    padding: 30px 30px;
}

.chartTitle {
    padding-top: 20px;
}

rect.bordered {
    stroke: #E6E6E6;
    stroke-width: 2px;
}

text.mono {
    font-size: 11pt;
    font-family: Consolas, courier;
    fill: #aaa;
}

text.axis-workweek, text.axis-worktime {
    fill: #000;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

select.dataset-selector {
    font-size: 19px;
    margin: 15px 0 10px 30px;
    cursor: pointer;
}

.hover-text {
    position:fixed;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;;
    background-color: rgba(0,0,0,0.8);
    color: rgb(250, 248, 243);
    padding: 5px 7px 7px 7px;
    z-index:100;
}

svg text {
    pointer-events: none;
}